{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
    {% block title %}
        Document
    {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% tailwind_css %}

</head>
{% include "navbar.html" %}
{% block content %}
<h1 class="text-5xl text-center cursor-pointer bg-gray-300 text-teal-700"  >INTERNAL EMPLOYEE TICKETING SYSTEM</h1>
<hr>
<h2 style="color:gray; background-color: lightgray; text-align: center;" class="text-lg font-semibold text-gray-700 bg-gray-200 text-center">VERSION 1.0</h2>

<p class="font-sans font-bold text-center p-5 text-sky-500 text-5xl "> welcome {{request.user}}</p>

{% endblock  %}    

</body>
</html>